#data-container{
    display: flex;
    gap: 15px;
    height: auto;
    justify-content: center;
    align-items: top;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15pt;
    margin-top: 15px;
}
#data-container #loading{
    display: none;
    background: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: white 1px;
    margin: 30px 0;
    padding: 15px;
    font-family: "njnaruto";
    transform: scale(2);
    animation: loading 0.7s ease-in-out infinite alternate;
}
.result{
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    width: 25%;
    background-color:rgba(0, 0, 0, 0.7);
    border: 3px solid blue;
    border-radius: 10px;
    color: white;
    padding: 10px;
}
.result img{
    width: 300px;
    margin-bottom: 15px;
}
.result ul, .result li{
    margin: 0;
    text-indent: 0;
}

#pagination-container {
    text-align: center;
    padding: 10px;
    position: sticky;
    bottom: 0;
    width: 100%;
}
.pagination-button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.3s ease;
}
.pagination-button:hover {
    transform: scale(1.5);
    transition: transform 0.3s ease;
}
.pagination-button.selected{
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    background-color: orange;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    transform: scale(1.5);
    transition: transform 0.3s ease;
}

@keyframes loading {
    from {
        transform: scale(2);
    } to {
        transform: scale(1.7);
    }
}